body {margin:0;}



.navbar {
  overflow: hidden;
  font-family:"Poppins",verdana;
  font-weight:500;
  background-color: #973232;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:1;
}

.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #3d343d;
  color: white;
  transition:.3s;
    -webkit-transition:.3s;
    -moz-transition:.3s;
}


/* WELCOME PAGE */

.welcome-page{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100vh;
    color:#f0f0f0;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    margin-bottom:0;
}




/* PROJECTS PAGE*/

.projects-page{
    display:grid;
    
    
    background-color:#45567D;
}

.projects-header{
    font-family:"Raleway", sans-serif;
    font-size: 40px;

    COLOR:whitesmoke;
    padding-top:4rem;
    padding-bottom:1.2rem;
    
    margin-right:auto;
    margin-left:auto;
    margin-bottom:4rem;
    
    
  
    border-bottom:solid;
    border-width:1px;
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(2, minmax(1px, 500px));
  
  grid-gap: 20px;

  padding-left:50px;
  padding-right:50px;

  margin-right:auto;
  margin-left:auto;
  
}


.card {
    border-radius: 4px;
    background-color:#070e1d;
    
    display: flex;
    position:relative;
    
}

.card:before {
    content: "";
    display: block;
    height: 0;
    width: 0;

    /* 1/1 is for constant aspect ratio of project cards */
    padding-bottom: calc(1/1 * 100%);

    
  }

  .card:hover .card-text{
    background-color:#973232;
    transition:.4s;
    -webkit-transition:.4s;
    -moz-transition:.4s;
  }



.card-text{
    font-family: "Raleway", sans-serif;
    color:white;
    background-color: rgb(29, 29, 29);
    height:2em;
    width:100%;
    text-align:auto;
    position: absolute;
    bottom: 0;
    padding-bottom:5px;
    padding-top:5px;

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}




/*View button functionality*/
.view-all-button{
    background-color: rgb(29, 29, 29);
    color:white;
    font-size:17px;
    font-family:"Raleway", sans-serif;

    height:40px;
    width:120px;
    border-radius:4px;

    margin-top:1.5rem;
    margin-bottom:5rem;
    margin-left:auto;
    margin-right:auto;

    padding-left:.32rem;

    display: flex;
    justify-content: center;
    align-items: center;
    
    content:"View All";
}

.view-all-button:hover{
    background-color:#973232;
    transition:.4s;
    -webkit-transition:.4s;
    -moz-transition:.4s;
}

.view-all-button:hover .gg-chevron-right{

    transform: translate(.35rem, 0px);

    transition:.4s;
    -webkit-transition:.4s;
    -moz-transition:.4s;
}

.gg-chevron-right {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 15px;
    height: 22px;
    border: 2px solid transparent;
}

.gg-chevron-right::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(-45deg);
    top: 4px;
}












/* CONTACT PAGE */



.contact-page{    
    display:grid;
    background-color:rgb(29, 29, 29);
    align-items: center;
    width:100%;
    min-height:100vh;
    color:#f0f0f0;
    margin-bottom:0;

    

}

.icon-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
    grid-gap: 10px;
  padding-left:auto;
  padding-right:auto;
  margin-bottom:20px;
  width: 100%;

  

}

.icon-grid>* {
    border-radius: 100%;
    
    
    height: 70px;
    width: 70px;
  }

  



img{
    width:100%;
    height:100%;
    border-radius:4px;
}

.icon-grid>*:hover{
    transform: translate(0px, .35rem);

    transition:.4s;
    -webkit-transition:.4s;
    -moz-transition:.4s;
}









/* FORMAT SPECIFIERS */

a{
    color:white;
    text-decoration: none;
    
    
}

h1{
    font-family:"Raleway", sans-serif;
    font-size:60px;
    font-weight:700;
    margin-bottom:0;
}

p{
    font-family:"Poppins", sans-serif;
    font-size:20px;
    color:#b44141;
    margin-top:0;
    margin-left:auto;
    margin-right:auto;

}

.subtext-white{
    color:white;
    position: relative;
    top:0;
    padding-top:3px;

}

.contact-page-text{
    display:grid;
    justify-content: center;
    align-items: center;
    
}



h3{
    font-family:"Poppins", sans-serif;
    padding-left:auto;
    padding-right:auto;
    margin-bottom:7px;
    margin-top:0;
    text-align: center;
    color:whitesmoke;
    
    padding-bottom:1px;
    
}

h4{
    font-family:"Raleway", sans-serif;
    font-size: 50px;
    color:whitesmoke;

    height:1em;

    margin-right:auto;
    margin-left:auto;
    

    margin-bottom:10px;
    
    padding-top:0;
    padding-bottom:0;
}



@media screen and (max-width: 575px){
    h4{
        font-size:30px;
    }

    .projects-header{
        font-size:30px;
        padding-top:4.75rem;
        
    }

    .icon-grid>* {
        border-radius: 100%;
        
        
        height: 50px;
        width: 50px;
      }

}
@media screen and (max-width: 700px){
    .card-grid{
        display: grid;
        grid-template-columns: repeat(1, minmax(10px, 570px));   
  
        grid-gap: 20px;

        padding-left:50px;
        padding-right:50px;   
    }

    
}

/*Media query for mobile resizing*/
@media screen and (max-width: 400px){
    h1{
        font-size: 40px;
    }

    .projects-header{
        font-size: 25px;
    }

    .card-text{
        font-size:12px;
    }


}
